@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* transition - makes carousel slide up */
.carousel {
    transform: translateY(150px);
    transition: transform 1s ease-in-out;
}

.carousel.page-loaded {
    transform: translateY(0);
}

/* transition - makes overlay div on each project slide in from the right */
/* .overlay-div{
    transition: 0.5s;
} */
.project-container:hover .overlay-div {
    right: 0;
}