@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel {
    transform: translateY(150px);
    transition: transform 1s ease-in-out;
}

.carousel.page-loaded {
    transform: translateY(0);
}